include README.md LICENSE net_config.py requirements.txt requirements.lock Makefile Dockerfile docker-compose.yml run.sh run.bat run.ps1
graft web
graft assets
recursive-include web *
recursive-include assets *
global-exclude __pycache__
global-exclude *.py[cod]
